@tailwind base;
@tailwind components;
@tailwind utilities;

.app {
    transition: width, height, margin-top, cubic-bezier(0.25, 1, 0.5, 1) 100ms;
  }
  
  .app:hover {
    width: 90px;
    height: 90px;
    margin-top: -30px;
  }
  
  /* Right side */
  .app:hover + .app {
    width: calc(80px + var(--dock-offset-right, 0px));
    height: calc(80px + var(--dock-offset-right, 0px));
    margin-top: calc(-20px + var(--dock-offset-right, 0px) * -1);
  }
  
  .app:hover + .app + .app {
    width: calc(70px + var(--dock-offset-right, 0px));
    height: calc(70px + var(--dock-offset-right, 0px));
    margin-top: calc(-10px + var(--dock-offset-right, 0px) * -1);
  }
  
  /* Left side */
  .app:has(+ .app:hover){
    width: calc(80px + var(--dock-offset-left, 0px));
    height: calc(80px + var(--dock-offset-left, 0px));
    margin-top: calc(-20px + var(--dock-offset-left, 0px) * -1);
  }
  
  .app:has(+ .app + .app:hover){
    width: calc(70px + var(--dock-offset-left, 0px));
    height: calc(70px + var(--dock-offset-left, 0px));
    margin-top: calc(-10px + var(--dock-offset-left, 0px) * -1);
  }
  
  /**
   Styling that has nothing to do with the animation:
  */
  :root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    
  }
  
  .dock {
    margin: auto auto 12px auto;
    border-radius: 24px;
    padding: 2px;
    
    box-shadow:0px 0px 1px gray;
}
  .dock ul {
    display: flex;
    justify-content:space-between;
    list-style-type: none;
    padding: 0;
  }
  .app {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content:center;
    align-items:center;
  }
  .app svg {
    width: 50%;
    height: 50%; 
  }
  
  .app a, .app button {
    display: flex;
    position:relative;
    border-radius: 100%;
    
    justify-content:center;
    align-items:center;
   
  }
  
  .app:hover .tooltip,
  .app:focus .tooltip {
    opacity: 1;
  }
  
  .tooltip {
    position: absolute;
    top: -40px;
    left: 40%;
    transform: translateX(-40%);
    opacity: 0;
    transition: ease-in opacity 100ms;
    display: flex;
    justify-content:center;
    align-items:center;
   
    padding: 10px;
    border-radius: 5px;
    box-shadow:0px 0px 1px gray;
    height: 25px;
    width: auto;
    white-space: nowrap;
  }
  